/* Selector para aplicar un color rojo al texto de todos los elementos de lista */
ul {
    color: red;
  }
  
  /* Selector para cambiar el tamaño de fuente del subtítulo usando el ID */
  #subtitulo {
    font-size: 20px;
    color: purple;
  }
  
  /* Selector para aplicar un fondo gris claro al párrafo que tiene la clase "resaltado" */
  .resaltado {
    background-color: lightgray;
  }
  
  /* Selector universal para eliminar el margen y el relleno de todos los elementos */
  * {
    margin: 0;
    padding: 0;
  }
  
  /* Selector de atributo para aplicar un borde azul al campo de entrada de contraseña */
  input[type="password"] {
    border: 2px solid blue;
  }
  