.contenedor {
    position: relative;
  }

.elem1 {
    position: absolute;
    z-index: 2;
    border: solid red;
    height: 100px;
    margin: 50px;
    background-color: rgb(250, 146, 146);
}

.elem2 {
    position: absolute;
    z-index: -1;
    border: solid green;
    height: 100px;
    margin: 50px;
    background-color: rgb(152, 255, 152);
}

.elem3 {
    position: absolute;
    z-index: 1;
    border: solid blue;
    height: 100px;
    margin: 50px;
    background-color: rgb(155, 155, 255);
}