body {
  color: #ffa500;
}

#id1 {
  background-image: url("https://wallpapers.com/images/hd/mclaren-yellow-650s-gt3-fuw0m7vt1hya3xhv.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
}

#id2 {
  background-image: url("https://wallpapers.com/images/hd/mclaren-yellow-650s-gt3-fuw0m7vt1hya3xhv.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#id3 {
  background-image: url("https://wallpapers.com/images/hd/mclaren-yellow-650s-gt3-fuw0m7vt1hya3xhv.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: local;
}