/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: "Arial", sans-serif;
    line-height: 1.6;
    background-color: #f7f7f7;
    color: #333;
    overflow-x: hidden;
    transition: all 1s;
}

/* Contenedor principal para el botón lunar */
#main {
    position: absolute;
    top: 12.5%;
    left: 95%;
    transform: translate(-50%, -50%);
}

/* Estilo del botón lunar (luna) */
#moon {
    width: 100px;
    height: 100px;
    background: #eef; /* Luna en el modo claro */
    border-radius: 50%;
    position: relative;
    transition: all 1s;
    cursor: pointer;
}

#moon .spots {
    border-radius: 50%;
    background: #ccd; /* Cráteres visibles en luna */
    transition: all 1s;
    position: absolute;
}

/* Posición de los cráteres */
#moonspot1 {
    width: 15px;
    height: 15px;
    top: 40%;
    left: 5%;
}

#moonspot2 {
    width: 6px;
    height: 6px;
    top: 70%;
    left: 25%;
}

/* Cobertura y animación (sol cubriendo la luna) */
#cover {
    width: 100px;
    height: 100px;
    background: #3a3a3a;
    border-radius: 50%;
    transform: translate(25px, -125px);
    transition: all 1s;
}

/* Cambio de tema (Modo oscuro) */
body.dark-theme {
    background: #001;
}

body.dark-theme #moon {
    background: #f6d602;
    border: 5px solid #f5eb71;
}

body.dark-theme #moon .spots {
    width: 0;
    height: 0;
    background: #f6d602;
}

body.dark-theme #cover {
    background: #3a3a3a;
    transform: translate(85px, -185px);
}

/* Encabezado */
header {
    background-color: #3a3a3a;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #f4c542;
}

/* Secciones */
main {
    padding: 20px;
    margin-top: 20px;
}

section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
}

section:hover {
    transform: scale(1.005);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    z-index: 2;
    background-color: #f4f4f4;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1rem;
}

/* Pie de página */
footer {
    background-color: #3a3a3a;
    color: white;
    text-align: center;
    padding: 20px;
}
