/* Tema oscuro */
body {
    background-color: #121212 !important; /* Gris oscuro */
    color: #f4f4f4; /* Gris claro */
}

section, h2, h3 {
    background-color: #1f1f1f; /* Gris oscuro */
    color: #f4f4f4;
}

header {
    background-color: #1f1f1f; /* Gris oscuro */
}

button {
    background-color: #f4c542; /* Dorado suave */
}

button:hover {
    background-color: #e0b030; /* Dorado más oscuro */
}

.producto {
    background-color: #333; /* Gris oscuro */
}

.producto:hover {
    background-color: #444; /* Gris más claro */
}

footer {
    background-color: #1f1f1f; /* Gris oscuro */
}
