li {
    display: inline;
}

.elemento {
    display: inline-block;
    margin: 10px;
}

.elemento_oculto {
    display: none;
    background-color: rgb(255, 138, 138);
}

#elementos div {
    display: block;
}

p {
    border-style: dotted;
    border-width: 3px;
    margin: 20px;
    padding: 10px;
    border-color: blue;
    background-color: rgb(206, 206, 250);
}