.div1 {
    outline-style: dashed;
    outline-color: orange;
}

.div2 {
    outline-style: double;
    outline-color: rgb(111, 0, 255);
    outline-width: 5px;
}

.div3 {
    margin: 30px;
    border: 2px solid orange;
    outline-offset: 10px;
    outline-style: outset;
    outline-color: rgb(72, 197, 255);
    outline-width: 5px;
}